Repository fullstack-hy2020/fullstack-hy2020.github.io, pull requests merged in 2025-08, with the labels that each got.

#4098 clarification on axios request handling
  src/content/2/en/part2d.md
Labels: part 2

#3850 Update part0b.md
  src/content/0/zh/part0b.md
Labels: chinese help wanted, part 0

#4101 Clarify wording in Java vs JavaScript class/object comparison
  .github/workflows/continuous-integration-workflow.yml
  .prettierrc
  gatsby-browser.js
  gatsby-config.js
  gatsby-node.js
  google9ad00ab66f508b0a.html
  src/components/Accordion/Accordion.js
  src/components/Arrow/Arrow.js
  src/components/BodyText/BodyText.js
  src/components/CompaniesBanner/CompaniesBanner.js
  src/components/CompaniesPage/index.js
  src/components/ContentLiftup/ContentLiftup.js
  src/components/DeveloperStory/DeveloperStory.js
  src/components/FaqPage/index.js
  src/components/Footer/Footer.js
  src/components/Form/Form.js
  src/components/IndexPage/index.js
  src/components/InfoBanner.js
  src/components/LanguagePicker/index.js
  src/components/Navigation/Navigation.js
  src/components/Navigation/SearchLink/index.js
  src/components/PartBanner/PartBanner.js
  src/components/PrevNext/PrevNext.js
  src/components/ScrollNavigation/ScrollNavigation.js
  src/components/SearchIcon/index.js
  src/components/SearchPage/index.js
  src/components/SrOnly/SrOnly.module.css
  src/components/TripleBorder/TripleBorder.scss
  src/components/layout.css
  src/components/layout.js
  src/components/seo.js
  src/content/1/en/part1b.md
  src/content/assets/css/style.scss
  src/content/partnavigation/partnavigation.js
  src/content/seo/mainSEOdescription.js
  src/templates/ContentTemplate.js
  src/templates/PartIntroTemplate.js
  src/templates/copy-code-button/copy-code-button-style.css
  src/templates/copy-code-button/create-copy-buttons.js
  src/utils/getLanguageFromPath.js
  static/google9ad00ab66f508b0a.html
  wrapPageElement.js
  wrapRootElement.js
Labels: part 1

#3768 part5d: use the url that was defined in the application
  src/content/5/en/part5d.md
Labels: part 5

#3866 Update part6a.md
  src/content/6/en/part6a.md
Labels: part 6
