Repository fullstack-hy2020/fullstack-hy2020.github.io, pull requests merged in 2025-02, with the labels that each got.

#3975 Dead link to JoshBritz object equality, update to MDN docs
  src/content/2/en/part2b.md
Labels: part 2

#3969 Update info in part2a.md, exercise 2.1
  src/content/2/en/part2a.md
Labels: part 2

#3942 Add clarification about Vite exported variables
  src/content/2/en/part2e.md
Labels: part 2

#3978 Part 2e: clarify security implications of API keys from client
  src/content/2/en/part2e.md
Labels: part 2

#3976 Poista Jestin maininnat
  src/content/4/fi/osa4b.md
Labels: part 4

#3962 Update links in part3c.md
  src/content/3/en/part3c.md
Labels: part 3

#3736 fix: typo
  src/content/3/en/part3b.md
Labels: part 3

#3989 Update osa3b.md/väärä tiedostotyyppi
  src/content/3/fi/osa3b.md
Labels: part 3

#3610 Update part3b.md
  src/content/3/en/part3b.md
Labels: part 3
